<section class="places-container">
  <div class="places">
    <div class="">
      <div class="row header">
        <div class="col-12" style="text-align:center">
          <strong>
            Encuestas
          </strong>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          ENcuesta Directivos
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkZero()" class="logo" src="assets/IMG/surveys.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          Encuesta Estudiantes
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkOne()" class="logo" src="assets/IMG/surveys.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          Encuesta Docentes (PE)
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkTwo()" class="logo" src="assets/IMG/surveys.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          Encuesta lideres de area
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkThree()" class="logo" src="assets/IMG/surveys.png"  alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
