<section class="places-container">
  <div class="places">
    <div class="">
      <div class="row header">
        <div class="col-12" style="text-align:center">
          <strong>
            MODELAMIENTO DE FICHAS
          </strong>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          UNIDAD 0 Y 1
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkZero()" class="logo" src="assets/IMG/unidad.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          UNIDAD 2
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkOne()" class="logo" src="assets/IMG/unidad.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          UNIDAD 3
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkTwo()" class="logo" src="assets/IMG/unidad.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          UNIDAD 4
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkThree()" class="logo" src="assets/IMG/unidad.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          UNIDAD 6
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkFour()" class="logo" src="assets/IMG/unidad.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
