<header class="information-box">
  <nav class="nav-bar">
    <div class="menu">
      <ul>
        <li>
          <a routerLink="/">Inicio</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSet4yrtpnXR_xm1ZLfoV5uX7xRye-LS-Y9We4H0NQ-Xbx2cKw/viewform">Encuesta directivos</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHU9KExa_zwBHzV_2s8c4Uhx3l16MwKp4jxhB8cvdiIyPJ6A/viewform">Encuesta estudiantes</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf8YLskcmeUoaJggZSRk4yfJ9SgEW4HUotKJGcb157NjCLgZw/viewform">Encuesta Docentes (PE)</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDhjDqZam72YWZ--UgbEsJH-rsXT7X0AqOhok8T1FgrMUyrQ/viewform">Encuesta Lider de Area</a>
        </li>
        <li>
          <a routerLink="/workshop">Talleres</a>
        </li>
        <li>
          <a routerLink="/resources">Recursos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<app-information-box></app-information-box>
