.information-section{
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, #030005 0%, #070134 51%, #0f026d 100%);
  padding-top: 70px;
}

.box-data-container{
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.box-data{
  height: 70%;
  width: 80%;
  border-radius: 23px;
  position: relative;

}

.box-information{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 5px solid #8504b0;
  background-color: #bf00ff51;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-information h1{
  font-size: 2.5rem;
  font-weight: 600;
  font-family: fantasy;
}

.first{
  color: #fff!important;
  text-decoration: none;
}

.last{
  text-decoration: none;
  color: #DB5E8A;
}

h2{
  font-family: monospace
}

h3{
  font-family: monospace;
  font-weight: 400;
  margin-top: 10px;
}

.box-image{
  height: 70%;
  width: 200px;
  position: absolute;
  top: 15%;
  left:-8%;
  border: 5px solid #8504b0;
  background-color: #430b71;
  border-radius: 100%;
}

.box-image img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  image-rendering:pixelated;
}


@media screen and (max-width: 1250px){
  .box-data-container{
    width: 90%;
  }
  .box-data{
    width: 100%;
  }
}

@media screen and (max-width: 900px){

  .box-information h1{
    font-size: 1.8rem;
  }
}
@media screen and (max-width:750px){

.box-image{
  top:-45px;
  left: 43%;
  width: 100px;
  height: 100px;
}
}




