<section class="places-container">
  <div class="places">
    <div class="data">
      <div class="row header">
        <div class="col-12 cell" style="text-align:center">
          <strong>
            NODOS DE PENSAMIENTO COMPUTACIONAL
          </strong>
        </div>
      </div>
      <div class="row header">
        <div class="col-3 cell">
          <strong style=>{{header?.code}}</strong>
        </div>

        <div class="col-3 cell">
          <strong>{{header?.province}}</strong>
        </div>

        <div class="col-3 cell">
          <strong>{{header?.institution}}</strong>
        </div>
        <div class="col-3 cell">
          <strong>{{header?.name}}</strong>
        </div>
      </div>
      <div class="row content" *ngFor="let row of content">
        <div style="font-size:21px" class="col-3 cell">
          <span>{{row?.code}}</span>
        </div>

        <div class="col-3 cell">
          <span>{{row?.province}}</span>
        </div>

        <div class="col-3 cell">
          <span>{{row?.institution}}</span>
        </div>
        <div class="col-3 cell">
          <span>{{row?.name}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
