<section class="places-container">
  <div class="places">
    <div class="data">
      <div class="row header">
        <div class="col-2 cell">
          <strong>{{header?.code}}</strong>
        </div>
        <div class="col-2 cell">
          <strong>{{header?.department}}</strong>
        </div>
        <div class="col-2 cell">
          <strong>{{header?.province}}</strong>
        </div>
        <div class="col-2 cell">
          <strong>{{header?.DANE}}</strong>
        </div>
        <div class="col-2 cell">
          <strong>{{header?.institution}}</strong>
        </div>
        <div class="col-2 cell">
          <strong>{{header?.name}}</strong>
        </div>
      </div>
      <div class="row content" *ngFor="let row of content">
        <div class="col-2 cell">
          <span>{{row?.code}}</span>
        </div>
        <div class="col-2 cell">
          <span>{{row?.department}}</span>
        </div>
        <div class="col-2 cell">
          <span>{{row?.province}}</span>
        </div>
        <div class="col-2 cell">
          <span>{{row?.DANE}}</span>
        </div>
        <div class="col-2 cell">
          <span>{{row?.institution}}</span>
        </div>
        <div class="col-2 cell">
          <span>{{row?.name}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
