<section class="places-container">
  <div class="places">
    <div class="">
      <div class="row header">
        <div class="col-12" style="text-align:center">
          <strong>
            PRESENTACIONES
          </strong>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          Junior
          <div class="resource">
            <div class="box-data">
              <img width="250" class="logo" src="assets/IMG/logo.jpeg" (click)="downloadJuniorFile()" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          Senior
          <div class="resource">
            <div class="box-data">
              <img width="250" class="logo" src="assets/IMG/logo.jpeg" (click)="downloadSeniorFile()" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
