<section class="places-container">
  <div class="places">
    <div class="">
      <div class="row header">
        <div class="col-12" style="text-align:center">
          <strong>
            BANCO DE PROYECTOS
          </strong>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 0
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkZero()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 1
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkOne()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 2
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkTwo()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 3
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkThree()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 4
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkFour()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 5
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkFive()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 6
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkSix()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 7
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkSeven()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 8
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkEight()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 9
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkNine()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 10
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkTen()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 11
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkEleven()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 12
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkTwelve()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 13
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkThirdten()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 14
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkFourthTen()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 15
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkFiften()" class="logo" src="assets/IMG/projects.png"  alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center">
          PROYECTO 16
          <div class="resource">
            <div class="box-data">
              <img width="250" (click)="openLinkSixten()" class="logo" src="assets/IMG/projects.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
